$text: #303030;
$accent: #D5B19B;
$bg: #FAF5F2;

%oswald-200 {
  font-family: 'Oswald-ExtraLight';
  font-weight: 200;
}

%oswald-300 {
  font-family: 'Oswald-Light';
  font-weight: 300;
}

%oswald-400 {
  font-family: 'Oswald-Regular';
  font-weight: 400;
}

%roboto-300 {
  font-family: 'Roboto-Light';
  font-weight: 300;
}

%roboto-400 {
  font-family: 'Roboto-Regular';
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto-Medium';
  font-weight: 500;
}